* {box-sizing: border-box;}
@media only all and (min-width:550px){
.Q1 {
        color: fuchsia;
    }
    
.Q2 {
        color: deepskyblue;
    } 
    
.A {
        margin-left: 30px; 
   }

body
{
    font-family: Comic Sans MS, Garamond, sans-serif;
    background-color: blueviolet;
    background-image: url("../tools/background/background.jpg"); 
    background-repeat: repeat-y;
    display: grid;
    grid-template: 
        'header header header'
        'aside main nav'
        'footer footer footer' /
        1fr 5fr 1fr;
}

header
{
    grid-area: header;
    color: whitesmoke;
}

header h1 
{
    text-align: center;
    
}

aside
{
    grid-area: aside;
    color: deepskyblue;
    text-align: center;
}

aside a
{
    text-decoration: none;
    color: deepskyblue;
}

aside a:hover
{
    color: fuchsia;
}

address
{
    text-decoration: none;
    color: deepskyblue;
}

main
{
    color: whitesmoke;
    grid-area: main;
    margin-left: 75px;
    margin-right: 75px;
    position: relative;
}

main a
{
    text-decoration: none;
    color: deepskyblue;
}

main a:hover
{
    color: fuchsia;
}

table 
{
    background-color: deepskyblue;
    color: black;
}

table td
{
    padding: 12px 20px;
    background-color: whitesmoke;
}

fieldset
{
    color: whitesmoke;
    border-color: whitesmoke;
}

nav
{
    grid-area: nav;
}

nav ul
{
    list-style-type: none;
}

nav ul li
{
    margin-bottom: 40px;
}

nav a
{
    text-align: center;
    display: block;
    padding: 10px 22px;
    background-color: deepskyblue;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
}

nav a:hover
{
    background-color: fuchsia;
    color: ghostwhite;
}

footer
{
    margin-top: 3%;
    grid-area: footer;
    background-color: aliceblue;
    color: cornflowerblue;
    text-align: center;
    width: 100%;
    height: 25px;
}
}
@media only all and (max-width:550px){
.Q1 {
        color: fuchsia;
    }
    
.Q2 {
        color: deepskyblue;
    } 
    
.A {
        margin-left: 30px; 
   }    

body
{
    font-family: Comic Sans MS, Garamond, sans-serif;
    background-color: blueviolet;
    background-image: url("../tools/background/background.jpg"); 
    background-repeat: repeat-y;
    display: grid;
    grid-template: 
        'header'
        'nav'
        'main'
        'aside'
        'footer';
}

header
{
    grid-area: header;
    color: whitesmoke;
}

header h1 
{
    text-align: center;
    
}

aside
{
    grid-area: aside;
    color: deepskyblue;
    text-align: center;
}

aside a
{
    text-decoration: none;
    color: deepskyblue;
}

aside a:hover
{
    color: fuchsia;
}

address
{
    text-decoration: none;
    color: deepskyblue;
}

main
{
    color: whitesmoke;
    grid-area: main;
    margin-left: 75px;
    margin-right: 75px;
    position: relative;
}

main a
{
    text-decoration: none;
    color: deepskyblue;
}

main a:hover
{
    color: fuchsia;
}

table 
{
    background-color: deepskyblue;
    color: black;
}

table td
{
    padding: 12px 20px;
    background-color: whitesmoke;
}

fieldset
{
    color: whitesmoke;
    border-color: whitesmoke;
}

nav
{
    grid-area: nav;
}

nav ul
{
    list-style-type: none;
}

nav ul li
{
    margin-bottom: 40px;
}

nav a
{
    text-align: center;
    display: block;
    padding: 10px 22px;
    background-color: deepskyblue;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
}

nav a:hover
{
    background-color: fuchsia;
    color: ghostwhite;
}

footer
{
    margin-top: 3%;
    grid-area: footer;
    background-color: aliceblue;
    color: cornflowerblue;
    text-align: center;
    width: 100%;
    height: 25px;
}
}